build/*
build
.vscode/*
coverage/*
node_modules/*
.DS_Store

coverage/
coverage.json

keystore
keystore/*
keystore.json

cache/*
cache

artifacts/*
artifacts

.openzeppelin

config/address.json
typechain/
*.log

flatten
flatten/*

test.spec.ts
node_modules
.env
gasReport.md

out/*
out

bin
bin/*

gasReport.md

.idea

wallet.ts

lcov.info

sample-commands.sh